@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border m-0 p-0;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-sans bg-body text-white overflow-x-hidden;
    -webkit-font-smoothing: antialiased;
  }
  .hidden_scroll {
    @apply overflow-y-hidden;
  }
  #__next {
    @apply flex flex-col pl-0 lg:pl-32.5 min-h-screen overflow-x-hidden;
  }
  a {
    text-decoration: none;
  }

  a,
  button {
    @apply cursor-pointer;
  }

  ul {
    @apply list-none;
  }
}
@layer components {
  @import url(./customClasses/index.css);
}
